*.pyc
*.pyo
*.o
*.so
*.c
*~
notrack/*
build/*
dist/*
27-dist/*
src/build/*
src/dist/*
src/gias2.egg-info/*
src/gias2/examples/outputs/*
src/gias2/examples/fieldwork/fit_whole_pelvis_data/output/*
*err.log
*out.log
